body {
    padding-top: 66px;
}

section#main {
    margin-top: 16px;
}

section.lonely {
    margin-top: 80px;
}

.full-width {
    width: 100%;
}

.form-inline label {
    margin-right: 5px;
}
.form-inline label:not(:first-child) {
    margin-left: 5px;
}