{% extends 'main/base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Agregar Mano de Obra</h1>
            {% if perms.materials.can_list_workforce %}<a href="{% url 'materials:workforces-list' %}">Volver a la lista</a>{% endif %}
        </div>
    </div>
    <div class="row with-margin-top">
        <div class="col-md-12">
            <section id="create-form">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">{% bootstrap_field form.name %}</div>
                            <div class="col-md-6">{% bootstrap_field form.code %}</div>
                            <div class="col-md-6">{% bootstrap_field form.hourly_price %}</div>
                            <div class="col-md-6">{% bootstrap_field form.notes %}</div>
                            <div class="col-md-6">
                                {% bootstrap_label form.enabled.label %}
                                {% bootstrap_field form.enabled show_label=False %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        {% bootstrap_button 'Crear' 'submit' 'save' 'btn btn-lg btn-primary btn-block main-action' %}
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}