{% extends 'main/base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Modificar Cuenta de Cliente</h1>
            {% if perms.contacts.can_view_clientaccount %}<a href="{% url 'contacts:client-accounts-detail' pk=parent.pk ca_pk=object.pk %}">Volver a la vista</a>{% endif %}
        </div>
    </div>
    <div class="row with-margin-top">
        <div class="col-md-12">
            Est&aacute; modificando una cuenta de cliente para la entidad "{{ parent.name }} ({{ parent.identification }})".
        </div>
    </div>
    <div class="row with-margin-top">
        <div class="col-md-6 col-md-offset-3">
            <section id="update-form">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">{% bootstrap_field form.service_area %}</div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        {% bootstrap_button 'Actualizar' 'submit' 'save' 'btn btn-lg btn-primary btn-block main-action' %}
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}