{% extends 'main/base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Modificar Entidad</h1>
            {% if perms.contacts.can_view_entity %}<a href="{% url 'contacts:entities-detail' pk=object.pk %}">Volver a la vista</a>{% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">{% bootstrap_field form.name %}</div>
                            <div class="col-md-6">{% bootstrap_field form.identification %}</div>
                            <div class="col-md-6">{% bootstrap_field form.identification_country %}</div>
                            <div class="col-md-6">{% bootstrap_field form.address %}</div>
                            <div class="col-md-6">{% bootstrap_field form.city %}</div>
                            <div class="col-md-6">
                                {% bootstrap_label form.provider.label %}
                                {% bootstrap_field form.provider show_label=False %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        {% bootstrap_button 'Actualizar' 'submit' 'save' 'btn btn-lg btn-primary btn-block main-action' %}
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}