{% extends 'main/base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Datos de la Entidad</h1>
            {% if perms.contacts.can_list_entity %}<a href="{% url 'contacts:entities-list' %}">Volver a la lista</a>{% endif %}
        </div>
    </div>
    <div class="row with-margin-top">
        <div class="col-md-6">
            <section id="details">
                <div class="row">
                    <div class="col-md-6 text-bold">Nombre</div>
                    <div class="col-md-6">{{ object.name }}</div>
                    <div class="col-md-6 text-bold">Identificaci&oacute;n</div>
                    <div class="col-md-6">{{ object.identification }}</div>
                    <div class="col-md-6 text-bold">Pa&iacute;s de la Identificación</div>
                    <div class="col-md-6">{{ object.identification_country.name }}</div>
                    <div class="col-md-6 text-bold">Direcci&oacute;n</div>
                    <div class="col-md-6">{{ object.address }}</div>
                    <div class="col-md-6 text-bold">Ciudad</div>
                    <div class="col-md-6">{{ object.city }}</div>
                    <div class="col-md-6 text-bold">Es Proveedor</div>
                    <div class="col-md-6">{% if object.provider %}S&iacute;{% else %}No{% endif %}</div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section id="actions">
                <div class="btn-group pull-right">
                    {% if perms.contacts.can_change_entity %}<a href="{% url 'contacts:entities-update' pk=object.pk %}" class="btn btn-default">Modificar Entidad</a>{% endif %}
                    {% if perms.contacts.can_delete_entity %}<a href="{% url 'contacts:entities-delete' pk=object.pk %}" class="btn btn-default">Eliminar Entidad</a>{% endif %}
                </div>
            </section>
        </div>
    </div>
    {% if perms.contacts.can_list_clientaccount %}
        <div class="row">
            <div class="col-md-12">
                <section id="list">
                    <div class="pull-right with-margin-bottom">
                        {% if perms.contacts.can_create_clientaccount %}<a href="{% url 'contacts:client-accounts-create' pk=object.pk %}" class="btn btn-default">Agregar Cuenta de Cliente</a>{% endif %}
                    </div>
                    <table class="table table-bordered table-stripped">
                        <thead>
                            <tr>
                                <th>&Aacute;rea de Servicio</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for account in object.client_accounts.all %}
                                <tr>
                                    <td>{{ account.service_area.name }}</td>
                                    <td>
                                        {% if perms.contacts.can_view_clientaccount %}
                                            <a href="{% url 'contacts:client-accounts-detail' pk=object.pk ca_pk=account.pk %}">Ver</a>
                                        {% endif %}
                                        {% if perms.contacts.can_delete_clientaccount %}
                                            <a href="{% url 'contacts:client-accounts-delete' pk=object.pk ca_pk=account.pk %}">Eliminar</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="2" class="text-center">No hay cuentas de cliente creadas para esta entidad.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    {% endif %}
{% endblock %}