{% extends 'main/base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Agregar Cuenta</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-6">{% bootstrap_field form.name %}</div>
                        <div class="col-md-6">{% bootstrap_field form.identification %}</div>
                        <div class="col-md-6">{% bootstrap_field form.identification_type %}</div>
                        <div class="col-md-6">{% bootstrap_field form.identification_country %}</div>
                        <div class="col-md-6">{% bootstrap_field form.address %}</div>
                        <div class="col-md-6">{% bootstrap_field form.city %}</div>
                        <div class="col-md-6">{% bootstrap_field form.provider %}</div>
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}