{% extends 'main/base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Clientes y Proveedores</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section id="search" class="pull-left">
                <form action="" method="get" class="form-inline">
                    {% bootstrap_form form %}
                    {% bootstrap_button '' 'submit' 'search' 'btn btn-primary' %}
                </form>
            </section>
            <section id="actions" class="pull-right">
                {% if perms.contacts.can_add_entity %}
                    <a href="{% url 'contacts:entities-create' %}" class="btn btn-default">Agregar Entidad</a>
                {% endif %}
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section id="list">
                <table class="table table-bordered table-stripped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Identificaci&oacute;n</th>
                            <th>Nombre</th>
                            <th>Ciudad</th>
                            <th>Proveedor</th>
                            <th>Cuentas de Cliente</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in object_list %}
                        <tr>
                            <td>{{ entity.pk }}</td>
                            <td>{{ entity.identification }}{% if not entity.in_homeland %} ({{ entity.identification_country.code }}){% endif %}</td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.city.name }}</td>
                            <td>{% if entity.provider %}S&iacute;{% else %}No{% endif %}</td>
                            <td>{{ entity.client_accounts_count }}</td>
                            <td>
                                {% if perms.contacts.can_view_entity %}
                                <a href="{% url 'contacts:entities-detail' pk=entity.pk %}">Ver</a>
                                {% endif %}
                                {% if perms.contacts.can_delete_entity %}
                                <a href="{% url 'contacts:entities-delete' pk=entity.pk %}">Eliminar</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td align="center" colspan="6">No hay ninguna entidad cargada</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_paginated and page_obj.has_other_pages %}
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        {% endif %}
                        <span class="page-current">
                            P&aacute;gina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        {% endif %}
                    </span>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}