<html>
    <body>
        <p>Estimado {{ user.full_name }},</p>
        <p>
            Usted ha recibido este correo porque ha solicitado un reinicio de contrase&ntilde;a.<br/>
            Si no lo hizo, puede ignorar este correo sin ning&uacute;n inconveniente. Si usted tiene una cuenta en
            este sitio y no hizo una solicitud de reinicio de contrase&ntilde;a, tal vez se realiz&oacute; un intento
            malicioso de ingreso a su cuenta. En tal caso recomendamos que ignore este correo y se ponga en contacto
            con nosotros al respecto.
        </p>
        <p>
            Para reiniciar su contrase&ntilde;a, haga click
            <a href="{{ protocol }}://{{ domain }}{% url "main:reset" uidb64=uid token=token %}">aqu&iacute;</a>
            o pegue el siguiente enlace en una nueva pesta&ntilde;a de su navegador:
            {{ protocol }}://{{ domain }}{% url "main:reset" uidb64=uid token=token %}
        </p>
        <p>
            Atte.
            &nbsp;&nbsp;&nbsp;&nbsp;Soporte de {{ SITE_TITLE }}.
        </p>
    </body>
</html>